In [1]:
import pandas as pd

# Load the dataset
file_path = 'dataset.csv'
df = pd.read_csv(file_path)

1. Number of columns in the dataset

In [3]:
num_columns = df.shape[1]
num_columns

12

2. Find the mean of the house prices

In [4]:
mean_house_price = df['price'].mean()
mean_house_price

234144.26395939087

3. Find the median of the house prices

In [5]:
median_house_price = df['price'].median()
median_house_price

213750.0

4. Find the different types of property in the dataset

In [6]:
unique_property_types = df['type'].unique()
unique_property_types

array(['Residential', 'Condo', 'Multi-Family', 'Unkown'], dtype=object)

5. Find the maximum price of a "condo" in the dataset

In [7]:
max_condo_price = df[df['type'] == 'Condo']['price'].max()
max_condo_price

360000

6. Find the mean of each type of property in the dataset

In [8]:
mean_price_by_property_type = df.groupby('type')['price'].mean()
mean_price_by_property_type

type
Condo           150082.185185
Multi-Family    224534.692308
Residential     239186.162486
Unkown          275000.000000
Name: price, dtype: float64

7. Find the count of different property types in dataset

In [9]:
count_by_property_type = df['type'].value_counts()
count_by_property_type

type
Residential     917
Condo            54
Multi-Family     13
Unkown            1
Name: count, dtype: int64